<h2>FIND MIG PÅ</h2>

<div class="find-logos">
  <a href="https://github.com/alma05858"> <img class="github-logo" src="/imgs/github2.svg" alt="Github logo" /> </a>
  <a href="https://www.linkedin.com/in/alma-castillo-2282a729b/"> <img class="linkedin-logo" src="/imgs/linkedin2.svg" alt="Linkedin logo" /> </a>
</div>

<style>
  h2 {
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .find-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0 20px 0;
  }

  .find-logos img {
    width: 70px;
  }
</style>
